<main class="container">
    <h1 class="text-center mb-5">{{pageTitle}}</h1>

    <section id="login-section">
        <div class="d-flex justify-content-center">
            <form name="login" id="login-form" method="post" class="w-25">
                <div class="form-group mb-2">
                    <fieldset>
                        <legend>You are a:</legend>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="mentee-radio-input" name="user_type" value="mentee" checked />
                            <label class="form-check-label" for="mentee-radio-input">Mentee</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="mentor-radio-input" name="user_type" value="mentor" />
                            <label class="form-check-label" for="mentor-radio-input">Mentor</label>
                        </div>
                    </fieldset>
                </div>
                
                <div class="form-group mb-2">
                    <label for="email-input">Email</label>
                    <input id="email-input" class="form-control" name="email" type="email" placeholder="abc@gmail.com">
                </div>
                <div class="form-group mb-2">
                    <label for="password-input">Password</label>
                    <input id="password-input" class="form-control" name="password" type="password" placeholder="Password">
                </div>
                
                <button class="btn btn-primary form-control mt-4" type="submit">Login</button>
            </form>
        </div>
        
    </section>
</main>

{{> auth/login_validate}}