<main class="container my-3">
    <h1 class="text-center mb-5">{{pageTitle}}</h1>

    <div class="row gx-2">
        <div id="pendingApplications" class="col-md-auto">
            <h4 class="text-center">Pending Applications</h4>
            {{#if pendingApplications}}
                <div class="mb-2">
                    {{#each pendingApplications}}
                        {{> admin/single-application-html info=this status="pending"}}
                    {{/each}}
                </div>
            {{else}}
                <p class="text-center">No pending applications.</p>
            {{/if}}
        </div>
        <div id="approvedApplications" class="col-md-auto">
            <h4 class="text-center">Approved Applications</h4>
            {{#if approvedApplications}}
                <div class="mb-2">
                    {{#each approvedApplications}}
                        {{> admin/single-application-html info=this status="approved"}}
                    {{/each}}
                </div>
            {{else}}
                <p class="text-center">No approved applications.</p>
            {{/if}}
        </div>
        <div id="rejectedApplications" class="col-md-auto">
            <h4 class="text-center">Rejected Applications</h4>
            {{#if rejectedApplications}}
                <div class="mb-2">
                    {{#each rejectedApplications}}
                        {{> admin/single-application-html info=this status="rejected"}}
                    {{/each}}
                </div>
            {{else}}
                <p class="text-center">No approved applications.</p>
            {{/if}}
        </div>
    </div>

</main>