<main class="container my-3 mt-5">
    <section class="mb-4">
        <div class="d-flex justify-content-between">
            <div>
                <h2>Welcome, {{firstName}} {{lastName}}</h2>
                <h3>Admin Actions</h3>
                <p>Use the buttons above to manage your tasks, view
                    applications, or log out.</p>
            </div>
            <div>
                <div class="btn-group">
                    <a href="/admin/applications" class="btn btn-secondary">View
                        Applications</a>
                    <a href="/admin/dashboard/edit" class="btn btn-secondary">Edit Profile</a>
                </div>
            </div>
        </div> 
    </section>
</main>
