<main class="container">
    <h1 class="text-center mb-5">{{pageTitle}}</h1>

    <section id="login-section">
        <div class="d-flex justify-content-center">
            <form name="login" id="login-form" method="post" class="w-25">

                <div class="form-group mb-2">
                    <label for="email-input">start</label>
                    <input
                        id="email-input"
                        class="form-control"
                        name="email"
                        type="datetime"
                    />
                </div>

                <button
                    class="btn btn-primary form-control mt-4"
                    type="submit"
                >Login</button>
            </form>
        </div>

    </section>
</main>