<main class="container my-5">
    <section id="title">
        <h1 class="text-center text-capitalize">{{forum_title}} Forum</h1>
    </section>

    <section id="posts" class="mb-5">
        <div class="d-flex flex-row justify-content-between mb-2">
            <h2 class="mb-0">Posts</h2>
            <a class="btn btn-primary" href="/forum/post/">Create a Post</a>
        </div>

        {{#if posts}}
            {{#each posts}}
                {{>forum/single-post-html post=this showReplies=false}}
                <div class="spacer my-2"></div>
            {{/each}}
        {{else}}
            <p class="text-center fs-10 mt-5">No posts found in this forum. Start us off!</p>
        {{/if}}
    </section>
</main>

{{>forum/edit-delete-post}}
